* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #282a2e;
    color: #c1c4c3;
}

#header {
    border-bottom: thin solid black;
    height: auto;
    font-size: 50px;
    text-align: center;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#numbers {
    position: absolute;
    padding: 5px;
    border-right: thin solid black;
    font-family: monospace;
    text-align: right;
    white-space: pre-wrap;
    line-height: 14px;
    min-width: 27px;
}

#main {
    position: absolute;
    padding: 5px;
    font-family: monospace;
    white-space: pre-wrap;
    word-break: break-word;
    line-height: 14px;
}

#side {
    position: absolute;
    right: 0;
    padding: 5px;
    border-left: thin solid black;
    width: 211px;
    word-break: break-word;
}

#timer {
    white-space: pre-wrap;
    margin-top: 14px;
    margin-bottom: 14px;
}
